@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'BSC300';
    src:
        url('../Fonts/BarlowSemiCondensed-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'BSC500';
    src:
        url('../Fonts/BarlowSemiCondensed-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'BSC600';
    src:
        url('../Fonts/BarlowSemiCondensed-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'BSC700';
    src:
        url('../Fonts/BarlowSemiCondensed-Bold.ttf');
    font-weight: 700;
}

:root {
    --Dark-Text: hsl(228, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --score-bg: hsl(0, 0%, 97%);
    --fuchsia: rgb(206, 48, 238);
    --fushi-pink: rgb(207, 99, 144);
    --animated-Gradient: linear-gradient(90deg, var(--fuchsia), hsl(216, 100%, 71%), hsl(349, 71%, 52%));
    --Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --Radial-Gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --font-size: 18px;
    --margin: 26px;
}

/* Start global rules */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    color: inherit;
    text-align: center;
    letter-spacing: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-size: var(--font-size);
    background-color: transparent;
    font-family: 'BSC500', sans-serif;
}

button:focus-visible {
    outline: 2px dashed rgb(71, 120, 255) !important;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XLarge */
@media (min-width: 1400px) {
    .container {
        width: 1360px;
    }
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.rightSideButtons {
    position: fixed;
    right: 32px;
    bottom: 20px;
    transition: 0.25s;
}

.leftSideButtons {
    position: fixed;
    left: 32px;
    bottom: 20px;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    width: 146px;
    height: 45px;
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.2s;
    margin-bottom: 14px;
}

.rules i {
    margin-right: 8px;
    transition: 0.2s;
}

.rules:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.rules:hover i {
    margin-right: 14px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.helpPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px 30px;
    background-color: white;
    width: 90%;
    max-width: 380px;
    border-radius: 10px;
    z-index: 9999;
}

.helpPopup .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.helpPopup .top p {
    text-transform: uppercase;
    letter-spacing: 2.2px;
    font-family: 'BSC700', 'sans-serif';
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Dark-Text);
}

.helpPopup .top .exit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.8rem;
    font-family: 'BSC300', sans-serif;
    font-weight: 300;
    color: rgb(180, 180, 180);
    height: 40px;
    width: 40px;
    transition: 0.2s;
}

.helpPopup .top .exit:hover {
    color: white;
    background-color: rgb(255, 40, 40);
}

.helpPopup .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpPopup .img img {
    width: 100%;
}

.aboutHelpPopup {
    padding: 26px 24px;
}

body {
    padding: 0 20px 0;
    background: var(--Radial-Gradient);
    min-height: 100vh;
    min-height: 100svh;
    font-family: 'BSC500', sans-serif;
    font-size: var(--font-size);
    transition: 0.2s;
    overflow-x: hidden;
}

.choose {
    text-align: center;
    padding: 20px 0;
    min-height: 100vh;
    min-height: 100svh;
}

.choose h1 {
    color: var(--score-bg);
    margin: 54px 0;
    font-size: 4rem;
    text-shadow: 0px 4px 2px #0000007a;
}

.helpPopup .about .name,
.choose h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: var(--animated-Gradient);
    background-size: 400% 150%;
    background-position: 0 0;
    animation-name: animated-color;
    animation-timing-function: linear;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: none;
}

@keyframes animated-color {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 50% 20%;
    }

    100% {
        background-position: 100% 0;
    }
}

.choose p {
    color: var(--fuchsia);
    font-size: 3rem;
    font-family: 'BSC600', sans-serif;
    font-weight: 600;
    margin-bottom: 80px;
}

.choose .choice:nth-child(1) {
    margin-bottom: 60px;
}

.choose .choice {
    position: relative;
    background: var(--Lizard-Gradient);
    max-width: 380px;
    width: 90%;
    font-size: 2.4rem;
    font-family: 'BSC500', sans-serif;
    font-weight: 500;
    border-radius: 12px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--score-bg);
}

.choose .choice:hover {
    max-width: 420px;
    box-shadow: inset -1px 8px 0px 0px #0000005c;
}

.choose .choice span.text {
    display: block;
    font-size: 1.2rem;
}

.choose .choice .after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.choose .choice .after span {
    position: absolute;
    top: 0;
    left: 20%;
    user-select: none;
    transition: 0.4s;
}

.choose .choice:nth-child(1) .after span:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
}

.choose .choice:nth-child(1) .after span:nth-child(3) {
    left: 70%;
}

.choose .choice:nth-child(1):hover .after span:nth-child(1) {
    left: 10%;
    transform: rotate(-24deg);
}

.choose .choice:nth-child(1):hover .after span:nth-child(3) {
    left: 80%;
    transform: rotate(24deg);
}

.choose .choice:hover .after {
    top: -54px;
}

.choose .choice:hover .after span.topE {
    animation: topE-f alternate 0.45s infinite linear;
}

.choose .choice:hover .after span.downE {
    animation: downE-f alternate 0.45s infinite linear;
}

.choose .choice:nth-child(2) .after span:nth-child(2) {
    left: 30%;
}

.choose .choice:nth-child(2) .after span:nth-child(3) {
    left: 40%;
}

.choose .choice:nth-child(2) .after span:nth-child(4) {
    left: 50%;
}

.choose .choice:nth-child(2) .after span:nth-child(5) {
    left: 60%;
}

.choose .choice:nth-child(2):hover .after span:nth-child(1) {
    left: 0;
    transform: rotate(-24deg);
}

.choose .choice:nth-child(2):hover .after span:nth-child(2) {
    left: 20%;
    transform: rotate(-12deg);
}

.choose .choice:nth-child(2):hover .after span:nth-child(3) {
    left: 40%;
}

.choose .choice:nth-child(2):hover .after span:nth-child(4) {
    left: 60%;
    transform: rotate(12deg);
}

.choose .choice:nth-child(2):hover .after span:nth-child(5) {
    left: 85%;
    transform: rotate(24deg);
}

.secScreen {
    padding: 40px 0;
}

.scoreNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 740px;
    border: 3px solid var(--Header-Outline);
    border-radius: 12px;
    margin: 0 auto;
}

.normalScoreNav {
    padding: 24px 30px;
}

.bounsScoreNav {
    padding: 20px 30px;
}

.scoreNav ul li {
    color: var(--score-bg);
    font-family: 'BSC600', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.normalScoreNav ul li {
    font-size: 2.6rem;
    line-height: 34px;
}

.bounsScoreNav ul li {
    font-size: 1.8rem;
    line-height: 23px;
}

.scoreNav .score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: var(--score-bg);
    text-align: center;
    color: var(--Score-Text);
    letter-spacing: 2px;
    font-family: 'BSC600', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 10px;
}

.scoreNav .score .reset {
    position: absolute;
    top: 6px;
    right: 6px;
    color: var(--Dark-Text);
    transition: 0.2s;
}

.normalScoreNav .score {
    height: 102px;
}

.bounsScoreNav .score {
    height: 115px;
}

.scoreNav .score span {
    display: block;
    font-size: 3.4rem;
    font-family: 'BSC700', sans-serif;
    font-weight: 700;
    transform: scaleY(1.2);
    color: var(--Dark-Text);
}

.normalSecScreen .game,
.bounsSecScreen .game {
    margin-bottom: 50px;
    transition: 0.2s;
}

.secScreen .game .img {
    position: relative;
    margin: 115px auto 0;
    max-width: 320px;
}

.bounsSecScreen .game .img {
    margin: 100px auto 0;
    max-width: 360px;
}

.normalSecScreen .game .img .line {
    max-width: 100%;
    user-select: none;
}

.bounsSecScreen .game .img .line {
    width: 100%;
    user-select: none;
}

.secScreen .game ul li button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--score-bg);
    box-shadow: inset 0px 6px 0 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s transform;
}

.choiceCircle::after,
.secScreen .game ul li button::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: inset 0px -6px 0 0 rgba(0, 0, 0, 0.3),
        0px 1px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.secScreen .game ul li button img {
    transition: 0.2s;
    user-select: none;
}

.secScreen .game ul li button:hover img {
    transform: rotate(50deg);
}

.bounsSecScreen .game ul li button {
    width: 128px;
    height: 128px;
}

div:focus-visible,
.secScreen .game ul li button:focus-visible {
    outline: 3px dashed hsl(165, 100%, 50%) !important;
}

.secScreen .game ul li button img {
    width: 45%;
}

.bounsSecScreen .game ul li .rockBTN {
    bottom: -50px;
    right: 0;
}

.normalSecScreen .game ul li .rockBTN {
    bottom: -30px;
    left: calc(50% - 75px);
}

.bounsSecScreen .game ul li .paperBTN {
    top: 60px;
    right: -60px;
}

.normalSecScreen .game ul li .paperBTN {
    top: -60px;
    left: -40px;
}

.bounsSecScreen .game ul li .scissorsBTN {
    top: -50px;
    left: calc(50% - 70px);
}

.normalSecScreen .game ul li .scissorsBTN {
    top: -60px;
    right: -40px;
}

.bounsSecScreen .game ul li .lizardBTN {
    bottom: -50px;
    left: 0;
}

.bounsSecScreen .game ul li .spockBTN {
    top: 60px;
    left: -60px;
}

.bounsSecScreen .game ul li button::after {
    top: -20px;
    left: -20px;
    width: 170px;
    height: 170px;
}

.rockBTN::after {
    background: var(--Rock-Gradient);
}

.paperBTN::after {
    background: var(--Paper-Gradient);
}

.scissorsBTN::after {
    background: var(--Scissors-Gradient);
}

.lizardBTN::after {
    background: var(--Lizard-Gradient);
}

.spockBTN::after {
    background: var(--Cyan);
}

.thirdScreen {
    padding: 40px 0;
}

.thirdScreen .inGameFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 60px;
}

.thirdScreen .inGameFlex .playChoice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thirdScreen .inGameFlex .playChoice p {
    text-align: center;
    color: var(--score-bg);
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-family: 'BSC600', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 80px;
    text-shadow: 1px 2px 3px #00000099;
}

.choiceCircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 230px;
    background-color: var(--score-bg);
    border-radius: 50%;
    box-shadow: inset 0px 7px 0 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.emptyChoiceCircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--score-bg);
    font-size: 3rem;
    width: 230px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.choiceCircle .img {
    width: 100%;
    text-align: center;
}

.choiceCircle .img img {
    width: 45%;
    user-select: none;
}

.choiceCircle::after {
    top: -35px;
    left: -35px;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.emptyChoiceCircle:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    top: -35px;
    left: -35px;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.win::after {
    box-shadow: inset 0px -6px 0 0 rgba(0, 0, 0, 0.3),
        0 0 0 50px rgba(255, 255, 255, 0.05),
        0 0 0 100px rgba(255, 255, 255, 0.07),
        0 0 0 150px rgba(255, 255, 255, 0.1);
}

.state {
    color: var(--score-bg);
    font-size: 3rem;
    letter-spacing: 3px;
    min-width: 211px;
    text-shadow: 1px 2px 3px #00000099;
    font-family: 'BSC700', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
}

.state .playAgain {
    color: var(--Dark-Text);
    background-color: var(--score-bg);
    border-radius: 8px;
    width: 100%;
    padding: 18px 4px;
    text-transform: uppercase;
    margin-top: 20px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.state .playAgain:hover {
    letter-spacing: 5px;
    word-spacing: 4px;
}

@keyframes topE-f {
    from {
        top: 0;
    }

    to {
        top: -10px;
    }
}

@keyframes downE-f {
    from {
        top: -10px;
    }

    to {
        top: 0;
    }
}

@media (max-height: 658px) {
    .choose h1 {
        margin: 42px 0;
    }

    .secScreen {
        padding: 0;
    }

    .bounsSecScreen {
        transform: scale(0.9);
        margin-top: -40px;
    }

    .inGameFlex {
        margin-top: 0 !important;
    }

    .choose p {
        margin-bottom: 54px;
    }
}

@media (max-height: 570px) {
    .normalSecScreen .game {
        transform: scale(0.8) translateY(-55px);
    }

    .thirdScreen {
        padding: 0;
    }
}

@media (min-width: 1256px) {
    .choose {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 1256px) {
    .playChoice {
        transform: scale(0.8);
    }

    .thirdScreen .inGameFlex {
        gap: 50px;
    }

    .rightSideButtons {
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .normalScoreNav ul li {
        font-size: 2rem;
        line-height: 26px;
    }

    .normalScoreNav .score {
        height: 95px;
    }

    .scoreNav {
        max-width: 630px;
    }

    .scoreNav .score {
        width: 140px;
    }

    .scoreNav .score span {
        font-size: 3.1rem;
    }

    .bounsScoreNav ul li {
        font-size: 1.56rem;
        line-height: 20px;
    }

    .bounsScoreNav .score {
        height: 100px;
    }

    .rules {
        width: 140px;
    }
}

@media (max-width: 1120px) {
    .choose h1 {
        font-size: 3.6rem;
        margin: 32px 0;
    }
}

@media (min-width: 991px)and((max-width: 1120px)) {
    .choose h1 {
        font-size: 3rem;
    }

    .choose p {
        font-size: 2.8rem;
    }

    .choose .choice:nth-child(1) {
        margin-bottom: 54px;
    }

    .choose .choice {
        max-width: 350px;
        font-size: 2.2rem;
    }

    .secScreen .game {
        transform: scale(0.8) translateY(-50px);
    }

    .thirdScreen .inGameFlex {
        transform: scale(0.8) translateY(-50px);
    }
}

@media (min-width: 991px) {
    .mobileScreenButtons {
        display: none;
    }
}

@media (max-width: 991px) {
    .choose h1 {
        font-size: 2.6rem;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .choose p {
        color: var(--fuchsia);
        font-size: 2rem;
        font-family: 'BSC600', sans-serif;
        font-weight: 600;
        margin-bottom: 58px;
    }

    .wideScreenButtons {
        display: none;
    }

    .mobileScreenButtons {
        display: block;
    }
}

@media (max-width: 768px) {
    .mobileScreenButtons {
        bottom: 40px;
        right: 40px;
        top: unset;
    }

    .mobileScreenButtons .mainMenu {
        bottom: 18px;
        top: unset;
        right: 50px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 0;
    }

    .game {
        transform: scale(0.85) translateY(-50px);
    }

    .thirdScreen .inGameFlex {
        transform: scale(0.8) translate(-20px, -20px);
    }
}

@media (max-width: 562px) {
    .normalScoreNav ul li {
        font-size: 1.8rem;
        line-height: 24px;
    }

    .game {
        transform: scale(0.8) translateY(-50px);
    }

    .thirdScreen .inGameFlex {
        gap: 0 50px;
        transform: translateY(-65px);
        flex-wrap: wrap;
    }

    .playChoice {
        transform: scale(0.5);
        flex: 1 0 auto;
        width: 10px;
    }

    .state {
        transform: scale(0.7) translateY(-80px);
        order: 3;
        flex-basis: 100%;
    }

    .win::after {
        box-shadow: inset 0px -6px 0 0 rgba(0, 0, 0, 0.3),
            0 0 0 40px rgba(255, 255, 255, 0.05),
            0 0 0 80px rgba(255, 255, 255, 0.07),
            0 0 0 120px rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 440px) {
    .normalScoreNav ul li {
        font-size: 1.4rem;
        line-height: 24px;
    }

    .scoreNav .score {
        font-size: 1.3rem;
    }

    .thirdScreen .inGameFlex {
        transform: translateY(-120px);
    }
}


@media (hover:hover) {
    .scoreNav .score .reset:hover {
        transform: scale(1.1) rotate(-90deg);
        filter: brightness(1.5);
    }
}

.hidden {
    display: none !important;
}